##
# $Id$
##

# Turn off Apache's Multiviews, because it really fucks up mod_rewrite
Options -Multiviews

# Enable mod_rewrite
RewriteEngine On

RewriteRule logout$ index.php?action=logout

RewriteRule ^add(/.+)?$ pageProcess.php?action=add&title=$1
RewriteRule ^save$ pageProcess.php
RewriteRule ^page/(.*)/edit$ pageProcess.php?action=edit&page=$1
RewriteRule ^tags$ tags.php
RewriteRule ^tags/(.*)$ tags.php?tag=$1

# Base rule for rewriting actual pages
# Because this is so generic, we use RewriteCond to make sure we don't 
# overwrite anything.
RewriteCond %{SCRIPT_FILENAME} !\.(html|php|css)$
RewriteRule ^page/(.+?)(/.*)?$ page.php?page=$1
