body {
  color                 : black;
  background-color      : white;
  width                 : 725px;
	margin                : 10px auto;
}
a {
  text-decoration       : none;
}
a:hover {
  text-decoration       : underline;
}
a:active {
  color                 : #33C;
}
a:visited {
}

#Header {
  margin                : 0 0 .5em 0;
  padding-bottom        : .5em;
  border-bottom         : 1px solid #CCC;
}

#Footer {
  padding               : .5em 0 0 0;
  margin                : .5em auto 0 auto;
  clear                 : both;

  color                 : gray;
  font-size             : x-small;

  border-top            : 1px solid #CCC;
}
#login {
  float                 : right;
  font-size             : small;
}
#login input {
  font-size             : small;
  padding               : 0;
  margin                : 0;
}

#error {
  color                 : red;
  font-weight           : bold;
}

#pageLinks {

}
#pageLinks a, #Tags a {
  color                 : #777;
}
#pageLinks a:visited #Tags a:visited {
  color                 : #777;
}

#PageEditForm {
  margin                : auto;
}
#MarkdownCheatSheet {
	border-top            : 1px dashed #CCC;
	border-bottom         : 1px dashed #CCC;
  float                 : right;
}

#validation {
	float                 : right;
	text-align            : right;
}
#timer {
  float                 : right;
  text-align            : right;
}

#tagBlock {
	margin-bottom         : 5px;
}
#existingTagList {
	list-style-type       : none;
	margin                : 0;
	padding               : 0;
	display               : inline;
}
#existingTagList li {
	margin                : 1px 2px;
	padding               : 1px 2px;
	display               : inline;
	cursor                : pointer;
	border-bottom         : 1px dotted #FAA;
}
#existingTagList li.hasTag {
	cursor                : no-drop;
	background-color      : #DDF;
	border-bottom         : 1px dotted #00F;
}

#Tags {
	font-size             : small;
	background-color      : #FAFAFF;
	border                : 1px dashed #CCC;
	padding               : 5px;
	margin                : 0;
}
#Tags ul {
	display               : inline;
	list-style-type       : none;
	margin                : 0;
	padding               : 0;
}
#Tags li {
	display               : inline;
	margin                : 0;
	padding               : 0 2px 0 4px;
	border-right          : 1px solid #333;
}
#Tags li:last-child {
	border                : none;
}

.help {
	cursor                : help;
	color                 : #777;
	font-weight           : bold;
	font-size             : small;
}

.clear {
  clear                 : both;
}
