body {
  color                 : black;
  background-color      : white;
}
a {
  text-decoration       : none;
}
a:hover {
  text-decoration       : underline;
}
a:active {
  color                 : #33C;
}
a:visited {
}

#Header {
	margin								: 0 0 .5em 0;
	padding-bottom				: .5em;
	border-bottom					: 1px solid #CCC;
}

#Footer {
  padding               : .5em 0 0 0;
	margin                : .5em auto 0 auto;
	width                 : 75%;

	color                 : grey;
	font-size             : x-small;

	border-top            : 1px solid #CCC;
}
#login {
	float									: right;
	font-size             : small;
}
#login input {
  font-size             : small;
  padding               : 0;
	margin                : 0;
}

#error {
  color                 : red;
  font-weight           : bold;
}

#pageLinks {

}
#pageLinks a {
  color                 : #777;
}
#pageLinks a:visited {
  color                 : #777;
}

#PageEditForm {
	margin                : auto;
}

#timer {
	float                 : right;
	text-align            : right;
}

.clear {
	clear                 : both;
}
